.loader-container{
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 100vw;
    height: 100vh; */
    height: 100vh;
    background-color: var(--black);
    color: var(--blue);
    overflow-y: hidden;
    overflow-x: hidden;
}