@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --white: #fff;
  --black: #050505;
  --blue: #3a80e9;
  --grey: #888;
  --darkgrey: #1b1b1b;
  --green: #61c961;
  --red: #f94141;
}

/* Light Theme */
.light-theme {
  --white: #050505;
  --black: #fff;
  --blue: #3a80e9;
  --grey: #f1efef;
  --darkgrey: #f1efef;
  --green: #61c961;
  --red: #f94141;
}

/* Dark Theme */

* {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

body {
  background-color: var(--black);
  color: var(--white);
}

.grey-wrapping {
  background-color: var(--darkgrey);
  border-radius: 0.5rem;
  margin: 1.5rem;
}

.graph {
  padding-left: 2rem;
}

.button-group button {
  padding: 10px 20px;
  border-radius: 20px;
  background-color: var(--blue);
  color: var(--white);
  font-weight: 600;
  border: none;
  cursor: pointer;
  margin-left: 5px;
}

.button-group button:hover {
  box-shadow: 0 20px 50px rgba(8, 112, 184, 0.7);
}

.market {
  font-size: 2.5rem;
  margin: 1rem 0;
}

@media (min-width:320px) and (max-width:480px) {
  .graph {
    padding-left: 0;
  }

  .button-group button {
    padding: 10px 8px;
    font-weight: 400;
    font-size: 1.1rem;
  }
}